.border-b{
    border-bottom: 1px solid grey;
}
.bg-legales{
    background-color: rgb(245, 240, 240);
    height: auto;
}
h1, h2{
    color: rgb(255, 255, 255);
}
p, ul>li{
    color: rgb(51, 47, 47);
}